@import url(sanitize.css);
@import url(ress.css);

:root {
  --background-color: #fff;
  --line-color: #ddd;
  --font-color: #222;
  --font-color2: rgba(5, 5, 5, 0.5);
  --link-color: #1188dd;
}

:root.dark-theme {
  --background-color: #222;
  --line-color: #555;
  --font-color: #fff;
  --font-color2: rgba(250, 250, 250, 0.8);
  --link-color: #22aaff;
}

body {
  font-family: serif;
  font-size: 1rem;
  line-height: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  letter-spacing: 0.05rem;
  color: var(--font-color);
  background-color: var(--background-color);
}

h1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  /* 20px */
}

h2 {
  font-family: sans-serif;
  font-size: 1.1rem;
  /* 18px */
}

.blue_link {
  transition: opacity 1s;
  text-decoration: none;
  color: var(--link-color);
}

.blue_link:hover {
  text-decoration: underline;
  color: var(--link-color);
}

.blue_link:visited {
  color: var(--link-color);
}

.link {
  color: var(--font-color);
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  color: var(--font-color2);
}

.link:visited {
  color: var(--font-color);
}


dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem auto 0.5rem auto;
  border-top: solid 0.065rem var(--line-color);
}

dt {
  width: 24%;
  padding: 1rem;
  font-family: sans-serif;
  font-size: 0.9em;
  color: var(--font-color);
  border-bottom: solid 0.065rem var(--line-color);
}

dd {
  width: 76%;
  padding: 1rem;
  border-bottom: solid 0.065rem var(--line-color);
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  width: 92%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.sectitle {
  margin: 1rem 0 1rem 0;
  padding-left: 0.5em;
  border-left: 0.17rem solid var(--font-color);
  font-weight: bold;
}

.section {
  width: 97%;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*--------------------------------
 Header
---------------------------------*/
header {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 80rem;
  padding: 0.25rem 0;
  background-color: var(--background-color);
  z-index: 2;
}

header h1 {
  z-index: 3;
  margin: 1rem 0.75rem 1rem 3rem;
}

header h1 a {
  color: var(--font-color);
  text-decoration: none;
}


#theme-btn {
  z-index: 3;
  margin: auto auto auto 0;
}

#theme-btn input[type="checkbox"] {
  display: none;
}

#theme-btn i {
  padding: 0.115rem 0.23rem;
  font-size: 1.25rem;
  border: 0.1rem solid var(--font-color);
  border-radius: 50%;
}

nav {
  margin: 1rem 3rem 1rem auto;
}

nav ul {
  display: flex;
}

nav li {
  font-family: sans-serif;
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

nav li a {
  transition: opacity 1s;
  text-decoration: none;
  color: var(--font-color);
}

nav li a:hover {
  color: var(--font-color2);
}

#menu-btn,
.nav-hidden {
  display: none;
}

/*--------------------------------
 Profile
---------------------------------*/
.profile {
  padding-top: 4.5rem;
}

.profile img {
  float: left;
  width: 2.5rem;
  min-width: 12rem;
  margin: 0.75rem 2rem 1rem 8%;
  border-radius: 50%;
}

.profile span {
  font-family: sans-serif;
  font-weight: bold;
}

.profile p {
  margin: 1rem 2rem 0 0;
  line-height: 2rem;
}

/*--------------------------------
 Educational background
---------------------------------*/

/*--------------------------------
 Work experience
---------------------------------*/

/*--------------------------------
 Publications
---------------------------------*/
.author {
  font-size: 0.875rem;
  color: var(--font-color);
  padding: 0.5rem 0 0 0;
  opacity: 0.9;
}

/*--------------------------------
 Awards/Grants
---------------------------------*/

/*--------------------------------
 Skills/Activities
---------------------------------*/

/*--------------------------------
 Page-top
---------------------------------*/
.page-top {
  padding: 0.35rem 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: var(--font-color);
}

/*--------------------------------
 Footer
---------------------------------*/
footer {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-top: solid;
  border-color: var(--font-color);
  border-width: 0.05rem;
}

footer .copyright {
  font-size: 0.9rem;
  color: var(--font-color);
  margin-right: 0.5rem;
}

footer a i {
  width: 1.5rem;
  color: var(--font-color);
  font-size: 1.4em;
  margin-top: 0.125rem;
  margin-left: 0.55rem;
}

/*--------------------------------
 For Smartphones
---------------------------------*/
@media screen and (max-width: 50rem) {

  dl {
    width: 98%;
    display: block;
  }

  dt {
    width: 100%;
    border-bottom: none;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  }

  dd {
    width: 100%;
    border-bottom: solid 0.07rem var(--line-color);
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  header h1 {
    margin: 1rem 0.75rem 1rem 1.5rem;
  }

  #menu-btn {
    display: block;
    position: fixed;
    z-index: 3;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.65rem;
    right: 1.35rem;
    cursor: pointer;
  }

  #menu-btn span,
  #menu-btn span::before,
  #menu-btn span::after {
    position: absolute;
    height: 0.15rem;
    width: 100%;
    content: "";
    border-radius: 0.5rem;
    background: var(--font-color);
    transition: 0.4s;
  }


  #menu-btn span {
    width: 1.8rem;
    top: 1.26rem;
    right: 0.42rem;
  }

  #menu-btn span::before {
    top: -0.6rem;
    width: 1.8rem;
  }

  #menu-btn span::after {
    top: 0.6rem;
    width: 1.5rem;
  }

  #nav-input:checked~#menu-btn span {
    transform: rotate(45deg);
  }

  #nav-input:checked~#menu-btn span::before {
    opacity: 0;
  }

  #nav-input:checked~#menu-btn span::after {
    top: 0;
    width: 1.8rem;
    transform: rotate(-90deg);
  }

  nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100vw;
    z-index: 2;
    margin: 0;
    background: var(--background-color);
    transition: 0.4s;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin: 15vh 0 0 1.5rem;
  }

  nav li {
    font-size: 2rem;
    line-height: 10vh;
    padding-left: 0;
    padding-bottom: 4rem;
    color: var(--font-color);
  }

  nav li a {
    transition: opacity 1s;
    text-decoration: none;
    color: var(--font-color);
  }

  header #nav-input:checked~nav {
    right: 0;
    color: var(--font-color);
  }

  .profile {
    padding-top: 5rem;
  }

  .profile img {
    float: none;
    display: block;
    width: 1.5rem;
    margin: 1rem auto 0 auto;
  }

  .profile p {
    margin: 0 auto;
    padding: 0.5rem 2rem;
    line-height: 2rem;
  }

  footer .icon {
    display: none;
  }
}
