@import url(sanitize.css);
@import url(ress.css);

body {
  font-family: serif;
  font-size: 1rem;
  line-height: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  letter-spacing: 0.05rem;
  color: #222;
}

h1 {
  font-family: sans-serif;
  font-size: 1.2rem;
  /* 20px */
}

h2 {

  font-family: sans-serif;
  font-size: 1.1rem;
  /* 18px */
}

a {
  transition: opacity 1s;
  text-decoration: none;
  color: #0066c0;
}

.container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  width: 92%;
  margin: 0 auto;
  padding: 1.5rem 0;
  background-color: #fff;
}

.main a:hover {
  text-decoration: underline;
  color: #0066c0;
}

.main a:visited {
  color: #0066c0;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*--------------------------------
 Header
---------------------------------*/
header {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 80rem;
  padding: 0.25rem 0;
  background-color: #fff;
  z-index: 2;
}

header h1 {
  margin: 1rem auto 1rem 3rem;
  z-index: 3;
}

header h1 a {
  color: #222;
  ;
}

nav {
  margin: 1rem 3rem 1rem auto;
}

nav ul {
  display: flex;
}

nav li {
  font-family: sans-serif;
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

nav li a {
  transition: opacity 1s;
  text-decoration: none;
  color: #222;
}

nav li a:hover {
  color: rgba(5, 5, 5, 0.5);
}

#menu-btn,
.nav-hidden {
  display: none;
}

/*--------------------------------
 Projects
---------------------------------*/
.projects h1 {
  padding: 4rem 0 1rem 0;
}

.projects ul {
  margin: 0 auto;
  list-style-type: none;
}

.projects li {
  line-height: 1.8;
  padding: 0.75rem 0 1.625rem 0;
}

.projects a {
  text-decoration: none;
  color: #222;
}

.projects a:hover {
  text-decoration: none;
  color: rgba(5, 5, 5, 0.5);
}

.projects a:visited {
  color: #222;
}

.author {
  font-size: smaller;
  color: #222;
  padding: 0.5rem 0 0 0;
  opacity: 0.8;
}


/*--------------------------------
 Page-top
---------------------------------*/
.page-top {
  padding: 0.5rem 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background-color: #fff;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #222;
}

/*--------------------------------
 Footer
---------------------------------*/
footer {
  width: 92%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  border-top: solid;
  border-color: #222;
  border-width: 0.05rem;
  background-color: #fff;
}

footer .copyright {
  font-size: 0.9rem;
  color: #222;
  margin-right: 0.5rem;
}

footer a i {
  width: 1.5rem;
  color: #222;
  font-size: 1.4em;
  margin-top: 0.125rem;
  margin-left: 0.75rem;
}

/*--------------------------------
 For Smartphones
---------------------------------*/
@media screen and (max-width: 50rem) {

  dl {
    width: 98%;
    display: block;
  }

  dt {
    width: 100%;
    border-bottom: none;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  }

  dd {
    width: 100%;
    border-bottom: solid 0.07rem #ddd;
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }

  header h1 {
    margin: 1rem auto 1rem 1.5rem;
  }

  #menu-btn {
    display: block;
    position: fixed;
    z-index: 3;
    width: 3.2rem;
    height: 3.2rem;
    top: 1rem;
    right: 1.5rem;
    padding: 0.2rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: #222;
  }

  #menu-btn span,
  #menu-btn span::before,
  #menu-btn span::after {
    position: absolute;
    height: 0.15rem;
    width: 100%;
    content: "";
    border-radius: 0.5rem;
    background: #fff;
    transition: 0.4s;
  }


  #menu-btn span {
    width: 1.8rem;
    top: 1.55rem;
    right: 0.7rem;
  }

  #menu-btn span::before {
    top: -0.6rem;
  }

  #menu-btn span::after {
    top: 0.6rem;
  }

  #nav-input:checked~#menu-btn span {
    transform: rotate(45deg);
  }

  #nav-input:checked~#menu-btn span::before {
    opacity: 0;
  }

  #nav-input:checked~#menu-btn span::after {
    top: 0;
    transform: rotate(-90deg);
  }

  nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 100vw;
    z-index: 2;
    margin: 0;
    background: #fff;
    transition: 0.4s;
  }

  nav ul {
    display: block;
    padding: 8rem 0 0 1.7rem;
  }

  nav li {
    font-size: 2rem;
    line-height: 4.2rem;
    padding-left: 0;
    padding-bottom: 4rem;
    color: #222;
  }

  nav li a {
    transition: opacity 1s;
    text-decoration: none;
    color: #222;
  }

  header #nav-input:checked~nav {
    right: 0;
    color: #222;
  }

  .profile {
    padding-top: 5rem;
  }

  .profile img {
    float: none;
    display: block;
    width: 1.5rem;
    margin: 1rem auto 0 auto;
  }

  .profile p {
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  footer .icon {
    display: none;
  }

  .projects ul li {
    line-height: 1.6;
    padding: 0.75px 0 1.625rem 0;
  }
}
