@import url(sanitize.css);
@import url(ress.css);
@import url(main.css);

/*--------------------------------
 Projects
---------------------------------*/
.projects h1 {
  padding: 4rem 0 1rem 0;
}

.projects ul {
  list-style-type: none;
}

.projects li {
  line-height: 1.8;
  padding: 0.75rem 0 1.5rem 0;
}

.projects a {
  text-decoration: none;
  color: var(--font-color);
}

.projects a:hover {
  text-decoration: none;
  color: var(--font-color2);
}

.projects a:visited {
  color: var(--font-color);
}

.author {
  padding: 0;
}
