body {
  font-family: "Montserrat", "Helvetica Neue", Arial,
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 14px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.8;
  letter-spacing: 0.8px;
  color: #333;
}

a {
  transition: opacity 0.5s;
  text-decoration: none;
  color: #1ca9e3;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

ul,
li {
  list-style: none;
}

@media (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.6;
  }
}

/*--------------------------------
 Layout
---------------------------------*/
.wrapper {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
  background-color: #fff;
}

.section:nth-of-type(1) {
  background-color: #eeeeee;
}

.inner {
  max-width: 100%;
  margin: 0 auto;
}

/*--------------------------------
 Title
---------------------------------*/
.title {
  font-size: 23px;
  line-height: 1;
  margin-bottom: 28px;
  text-align: left;
  letter-spacing: 0.05em;
  color: #333;
  padding: 0.2em 0.45em;
  border-left: solid 5px #5c5c5c;
}

.subtitle {
  font-size: 20px;
  line-height: 1;
  margin: 28px 0 10px 0;
  text-align: left;
  color: #333;
}

@media (max-width: 767px) {
  /* title */
  .title {
    font-size: 21px;
    margin-bottom: 20px;
  }

  /* subtitle */
  .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/*--------------------------------
 Header
---------------------------------*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1450px;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 19px 4% 15px;
  background-color: #333;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
}

.logo a {
  color: #fff;
}

nav {
  margin: 0 0 0 auto;
}

#nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#nav li {
  margin-right: 20px;
  font-size: 17px;
  float: left;
}

#nav li a {
  position: relative;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #fff;
}

#nav a:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  content: "";
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: rgb(255, 255, 255);
}

#nav a:hover:after {
  width: 100%;
}

.sp-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-nav {
    display: none;
  }
  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: #333;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
  }

  .logo {
    font-size: 22px;
  }

  #hamburger {
    position: relative;
    display: block;
    width: 30px;
    height: 22px;
    margin: 0 0 0 auto;
  }
  #hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateY(-50%);
  }
  #hamburger::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }
  #hamburger::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #fff;
  }

  .sp-nav ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp-nav li {
    font-size: 19px;
    margin: 15px 0;
    padding: 0;
  }
  .sp-nav li a {
    color: #fff;
  }
  .sp-nav li span {
    font-size: 16px;
    color: #fff;
  }
  .sp-nav li span {
    display: block;
    padding: 20px 0;
  }
  .sp-nav .close {
    color: #fff;
    position: relative;
    padding-left: 20px;
  }
  .sp-nav .close::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
  }
  .sp-nav .close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 1px;
    background: #fff;
    transform: rotate(-45deg);
  }

  .toggle {
    transform: translateY(0);
    opacity: 1;
  }
}

/*--------------------------------
 Profile
---------------------------------*/
.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 100px 0 25px 0;
}

.profile-img {
  width: 13%;
  min-width: 190px;
  border-radius: 50%;
  margin-left: 21%;
}

.profile-img img {
  border-radius: 50%;
}

.profile-body {
  flex: 1;
  font-size: 15px;
  font-weight: normal;
  margin-left: 30px;
  color: #333;
}

#profile a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  /* profile */
  .profile {
    display: block;
    width: 90%;
    padding: 80px 0 25px 0;
  }

  .profile-img {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .profile-body p:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*--------------------------------
 Careers
---------------------------------*/
.careers {
  text-align: left;
  width: 85%;
  margin: 30px auto 0 auto;
}

.careers-item {
  width: 90%;
  margin-left: 3%;
}

#careers dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#careers dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#careers dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#careers a:hover {
  text-decoration: underline;
}

/*--------------------------------
 Publications
---------------------------------*/
.publications {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.publications-item {
  width: 90%;
  margin-left: 3%;
}

#publications dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#publications dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#publications dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#publications a:hover {
  text-decoration: underline;
}

/*--------------------------------
 Experiences
---------------------------------*/
.experiences {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.experiences-item {
  width: 90%;
  margin-left: 3%;
}

#experiences dl {
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #c8c8c8;
  margin-bottom: 20px;
}

#experiences dt {
  width: 20%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#experiences dd {
  width: 80%;
  border-bottom: solid 1px #c8c8c8;
  padding: 15px;
}

#experiences a:hover {
  text-decoration: underline;
}

/*--------------------------------
 Page-top
---------------------------------*/
.page-top {
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #4c4c4c;
}

.page-top .material-icons-outlined {
  vertical-align: bottom;
  color: #fff;
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  padding: 28px;
  background-color: #333;
}

.footer-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.copyright {
  font-size: 14px;
  color: #eeeeee;
  margin-top: 3px;
}

img.logo {
  height: 22px;
  margin-top: 4px;
  margin-left: 6px;
}

img.icon {
  margin-top: 4px;
  width: 20px;
  margin-left: 7px;
}
